name: Release Decoupled Preview to wp.org
on:
  release:
    types: [published]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: WordPress Plugin Deploy
      uses: 10up/action-wordpress-plugin-deploy@2.1.1
      env:
        SVN_USERNAME: ${{ secrets.WPORG_USERNAME }}
        SVN_PASSWORD: ${{ secrets.WPORG_PASSWORD }}
        SLUG: ${{ env.SLUG }}